<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>MatheTest</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div mathtest-gui>
    <h1>MatheTest</h1>

    <!--
    <div ng-hide="true">Moment, MatheTest wird geladen...</div>
     -->

    <div id="math_tasks">
      <h2>Aufgaben</h2>
      <table>
        <tr ng-repeat="task in tasks">
          <td ng-if="task.position != 1">{{task.operand_1}}</td>
          <td ng-if="task.position == 1"><input type="text" ng-model="task.trial"></td>
          <td>{{task.operator}}</td>
          <td ng-if="task.position != 2">{{task.operand_2}}</td>
          <td ng-if="task.position == 2"><input type="text" ng-model="task.trial"></td>
          <td>=</td>
          <td ng-if="task.position != 3">{{task.result}}</td>
          <td ng-if="task.position == 3"><input type="text" ng-model="task.trial"></td>
          <td ng-if="!task.correct" class="error_msg">Fehler!</td>
        </tr>
      </table>

    </div>

    <div id="control_tasks">
      <ul>
        <li>
          <label>Anzahl Aufgaben:</label>
          <input type="number" ng-model="numTasks" ng-change="checkArgument()">
        </li>
        <li ng-if="!isRunning">
          <button ng-click="startTest()">Starte Test!</button>
        </li>
        <li ng-if="isRunning">
          <button ng-click="stopTest()">Fertig!</button>
        </li>
        <li ng-if="isRunning">
          <p>Aktuelle Zeit: {{ formatElapsedTime() }}</p>
        </li>
        <li ng-if="!isRunning">
          <p>{{successMsg}}</p>
        </li>
        
      </ul>
    </div>

  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script src="packages/browser/dart.js"></script>
</body>
</html>
